@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Diphylleia&family=IBM+Plex+Serif:wght@300&family=Montserrat+Alternates:wght@700&family=Montserrat:wght@500;600&family=Noticia+Text:wght@700&display=swap');

/*
font-family: 'Diphylleia', serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'Noticia Text', serif;
*/

.login-page{
    min-height: 70vh;
}